.mypage-myreview-container {
    display: flex;
    border-bottom: 1px solid #EEEEEE;
    cursor: pointer;
}

.mypage-myreview-text-box {
    flex: 1; 
    cursor: pointer;
}

.star {
    width: 16px;
    height: 16px;
    background-size: cover;
    display: inline-block;
}

.mypage-myreview-content-box {
    padding-top: 40px;
    padding-bottom: 40px;
}

.rating-container {
    padding-bottom: 10px; 
}