.review-list-item {
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
}

.review-list-item-top {
    /* display: flex; */
    /* align-items: center; */
    /* gap: 8px; */
}

.review-content-box {
    padding-top: 40px;
    padding-bottom: 40px;
}

.review-content-id {
    display: flex; 
    align-items: center; /* 수직 방향 가운데 정렬 */
    color: #A7A6A6;
    font-weight: 400;
    font-size: 16px;
}

.review-date {
    color: #C6C6C6;
    font-weight: 400;
    font-size: 16px;
    margin-left: 8px;
}

.review-line {
    background: #ffffff;
    border-bottom: 1px solid #EEEEEE;
    box-sizing: content-box;
    position: relative;
    outline: none;
}

.review-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.rating-and-stars, .actions {
    display: flex;
    align-items: center;
  }
  
  .actions {
    margin-left: auto;
  }

.rating-container {
    display: flex;
    align-items: center;
  }

.review-rating-number {
    color: #4D4D4D;
    font-weight: 500;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 2px;
}

.review-content {
    color: #8D8D8D;
    font-weight: 400;
    font-size: 18px;
    padding-top: 10px;
}

.review-image {
    width: 220px;
    height: 147px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 25px;
}

.star {
    width: 16px;
    height: 16px;
    background-size: cover;
    display: inline-block;
  }

  .review-detail-more-box {
    display: flex;
    gap: 10px;
    /* background-color: rgba(255, 255, 255, 1); */
    /* box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25); */
    border-radius: 5px;
}

.review-detail-delete-button {
    width: 98px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C69B94;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    border-radius: 5px;
    background-color: #F0F0F0;
}

.review-detail-update-button {
    width: 98px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #545454;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    border-radius: 5px;
    background-color: #F0F0F0;
}

.review-detail-delete-button:hover {
    cursor: pointer;
    background-color: #BBB9B6;
    color: #FCFCFC;
    transition : 0.5s;
}

.review-detail-update-button:hover {
    cursor: pointer;
    background-color: #BBB9B6;
    color: #FCFCFC;
    transition : 0.5s;
}

.helpful {
    padding-top: 22px;
    font-size: 16px;
    color: #C6C6C6;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.helpful-count {
    padding-left: 2px;
    color: #7F7F7F;
}

.camera-icon {
    width: 24px;
    height: 24px;
}

.icon-button {
    background-size: 100% 100%;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    width: 22px;
    height: 22px;
    cursor: pointer;
}