.review-list-item {
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
}

.review-list-item-top {
    display: flex;
    align-items: center;
    /* gap: 8px; */
}

.review-content-box {
    padding-top: 40px;
    padding-bottom: 40px;
}

.review-content-id {
    display: flex; /* flex 속성 적용 */
    justify-content: space-between; /* 요소들 사이 공간 동등 배분 */
    align-items: center; /* 수직 방향 가운데 정렬 */
    color: #A7A6A6;
    font-weight: 400;
    font-size: 16px;
}

.review-date {
    color: #C6C6C6;
    font-weight: 400;
    font-size: 16px;
    margin-left: 8px;
}

.review-line {
    background: #ffffff;
    border-bottom: 1px solid #EEEEEE;
    box-sizing: content-box;
    position: relative;
    outline: none;
}

.review-rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.review-rating-number {
    color: #4D4D4D;
    font-weight: 500;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 2px;
}

.review-content {
    color: #8D8D8D;
    font-weight: 400;
    font-size: 18px;
    padding-top: 10px;
}

.review-image {
    width: 220px;
    height: 147px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 25px;
}

.star {
    width: 16px;
    height: 16px;
    background-size: cover;
    display: inline-block;
  }