.store-background-image {
    margin-top: 90px;
    height: 370px;
    background-position: center 167%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(image/store_image.jpg);
    position: relative;
}

.store-cold-medicine-image {
    background-image: url(image/cold_medicine.png);
    height: 120px;
    width: 99px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 52px 102px 0px 102px;
}

.store-fever-reducer-image {
    background-image: url(image/fever_reducer.png);
    height: 120px;
    width: 99px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 52px 102px 0px 102px;
}

.store-digestive_medicine-image {
    background-image: url(image/digestive_medicine.png);
    height: 122px;
    width: 169px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 73px 0px 0px 76px;
}

.store-plaster-image {
    background-image: url(image/plaster.png);
    height: 113px;
    width: 143px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 73px 0px 0px 76px;
}

.store-background-image::after {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; 
    opacity: 0.2; 
    z-index: 1; 
}

#store {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

#store-middle-wrapper {
    display: flex;
    justify-content: center;
    padding: 81px 0;
}

#store-gold-background {
    min-width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FAF9F7;
    padding: 60px 0px;
}

#store-bottom-wrapper {
    display: flex;
    justify-content: center;
    padding: 81px 0;
}

.store-map-container {
    padding:31px 0px 133px 0px;
}

.map-content-gap {
    display: flex;
    /* padding: 31px 0px 133px 0px; */
    width: 100%;
    justify-content: space-between;
    gap:40px;
}

.map-container {
    width: 667px;
    height: 260px;
    border-radius: 16px;
    margin-top: 35px;
}

.store-middle-background-container {
    width: 1295px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.store-background-container {
    width: 1320px;
    display: flex; 
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.store-image-text-content {
    font-size: 22px;
    font-weight: 400;
    color: #E2E2E2;
    z-index: 2;
    position: relative;
}

.store-image-text-title-bold {
    font-size: 30px;
    font-weight: 700;
    color: #E2E2E2;
    z-index: 2;
}

.store-image-text-title {
    font-size: 30px;
    font-weight: 400;
    color: #E2E2E2;
    z-index: 2;
}

.store-text-box {
    display: flex;
    padding-top: 150px;
    gap: 10px;
}

.store-text-box-content {
    display: flex;
    gap: 9px;
}

.store-text-box-title {
    display: flex;
    gap: 5px;
    padding-bottom: 15px;
}

.store-box-content {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.store-content-box-content {
    font-size: 18px;
    font-weight: 300;
    color: #6A6A6A;
}

.store-text-title-gold {
    font-size: 22px;
    font-weight: 700;
    color: #C7BA9A;
    z-index: 2;
}

.store-gold-content-box {
    width: 305px;
    height: 270px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #eeeeee;
}

.store-box-gap {
    gap: 27px;
    display: flex; 
    justify-content: center;
}

.store-box-content-text {
    font-size: 18px;
    font-weight: 600;
    color: #9F9F9F;
    text-align: center;
    margin-top: 36px;
}

.store-box-content-text-digestive {
    font-size: 18px;
    font-weight: 600;
    color: #9F9F9F;
    text-align: center;
    margin-top: 13px;
}

.store-box-content-text-plaster {
    font-size: 18px;
    font-weight: 600;
    color: #9F9F9F;
    text-align: center;
    margin-top: 26px;
}

.store-content-title {
    font-size: 20px;
    font-weight: 700;
    color: #585858;
    /* padding-top: 44px; */
}

.store-content-address-title {
    padding: 20px 0px 10px 0px;
    font-size: 16px;
    color:#c9c9c9;
}

.store-content-address {
    font-size: 18px;
    color: #717171;
    font-weight: 300;
}

.store-content-box {
    padding: 43px 0px 43px 0px;
    margin-top: 38px;
}