#medicine-detail {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.medicine-detail-container {
    width: 1100px;
    display: flex; 
    flex-direction: column;
    margin-top: 90px
}

.medicine-detail-content-box {
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex; 
}

.medicine-detail-image {
    border-radius: 27px;
    width: 420px;
    height: 230px;
    background-size: 100% 100%;
}

.medicine-detail-content-etc {
    font-size: 18px;
    font-weight: 600;
    color: #C69B94;
    padding: 25px 0px 0px 40px;
}

.medicine-detail-content-name {
    font-size: 26px;
    font-weight: 600;
    color: #4D4D4D;
    padding: 30px 0px 0px 40px;
}

.medicine-detail-content-eng-name {
    font-size: 20px;
    font-weight: 400;
    color: #8D8D8D;
    padding: 6px 0px 0px 40px;
}

button {
    border: none;
}

.bloc-tabs {
    display: flex;
}

.tabs {
    padding: 30px;
    text-align: center;
    width: 50%;
    background: #ffffff;
    cursor: pointer;
    border-bottom: 1px solid #EEEEEE;
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    color: #959595;
    font-family: 'Pretendard';
}
  
.active-tabs  {
    background: #ffffff;
    border-bottom: 1px solid #C7BA9A;
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 600;
    opacity : 1;
    transition : 0.5s;
    color: #C7BA9A;
}

.medicine-detail-tabs-box {
    /* width: 1060px; */
    /* height: 1022px; */
    padding-bottom: 133px;
}

.medicine-detail-tabs-box-info {
    /* height: 1903px; */
    padding-bottom: 133px;
}

.medicine-detail-basics-content-box {
    width: 920px;
    /* height: 829px; */
    display: flex;
}

.medicine-detail-basics-content-title-box {
    display: flex;
    flex-direction: column;
}

.medicine-detail-basics-content-box-main {
    
}

.medicine-detail-basics-title-top {
    padding: 60px 0px 0px 70px ;
    font-size: 20px;
    font-weight: 600;
    color: #5B5B5B;
}

.medicine-detail-basics-title {
    padding: 40px 0px 0px 70px ;
    font-size: 20px;
    font-weight: 600;
    color: #5B5B5B;
}

.medicine-detail-basics-content-top {
    padding: 63px 0px 0px 58px;
    font-size: 18px;
    font-weight: 400;
    color: #8D8D8D;
}

.medicine-detail-basics-content {
    padding: 42px 0px 0px 58px;
    font-size: 18px;
    font-weight: 400;
    color: #8D8D8D;
}

.medicine-detail-basics-content-info {
    padding: 63px 0px 0px 112px;
    font-size: 18px;
    font-weight: 400;
    color: #8D8D8D;
}

.medicine-detail-basics-content-two {
    padding: 42px 0px 0px 75px;
    font-size: 18px;
    font-weight: 400;
    color: #8D8D8D;
}
.medicine-detail-basics-content-four {
    padding: 42px 0px 0px 41px;
    font-size: 18px;
    font-weight: 400;
    color: #8D8D8D;
}

.medicine-detail-basics-content-eng {
    padding: 5px 0px 0px 58px;
    font-size: 18px;
    font-weight: 400;
    color: #8D8D8D;
}

.content-line-top {
    padding-top: 30px;
    background: #ffffff;
    border-bottom: 1px solid #EEEEEE;
    box-sizing: content-box;
    position: relative;
    outline: none;
    margin: 0px 70px 0px 70px;
}

.content-line {
    padding-top: 40px;
    background: #ffffff;
    border-bottom: 1px solid #EEEEEE;
    box-sizing: content-box;
    position: relative;
    outline: none;
    margin: 0px 70px 0px 70px;
}

.accordion {
    height: 1000px;
    padding-top: 17px;
}

.accordion-item {
    padding: 42px 0px 42px 0px;
    border-bottom:1px solid #EEEEEE;
    margin: 0px 70px 0px 70px;
}  

.accordion-title {
    color:#5B5B5B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

.accordion-content {
    color: #8b7f75;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    display: flex;
}
  
.accordion-content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

.accordion-content-text {
    color: #8D8D8D;
    font-weight: 400;
    font-size: 18px;
    padding-top: 20px;
}

.accordion-content-titel-text {
    font-size: 18px;
    font-weight: 600;
    color: #5B5B5B;
    padding-top: 20px;
}

.review-box {
    display: flex; 
    gap: 25px;
    flex-direction: column;
}

.review-main-box {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.review-top-box {
    /* display: flex;
    flex-direction: column; */
}

.review-button {
    width: 87px;
    border: 2px solid #DDD5C2;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    color: #DDD5C2;
    padding: 12px 15px 11px 15px;
}
  
.review-button:hover {
    background-color: #DDD5C2;
    color: #FEFEFE;
    transition : 0.5s;
}  

.review-button-click {
    width: 87px;
    border: 2px solid #DDD5C2;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    background-color: #DDD5C2;
    color: #FEFEFE;
    padding: 12px 15px 11px 15px;
}

.review-button-click:hover {
    opacity: 0.95;
}

.review-number {
    color: #C6C6C6;
    font-weight: 500;
    font-size: 16px;
    float: right;
}

.review-number-number {
    color: #C7BA9A;
    font-weight: 600;
    font-size: 16px;
    float: right;
    margin-left: 3px;
}

.review-content-number-box {
    padding: 35px 0px 15px 0px;
}

.review-height-container {
    /* height: 1800px; */
    padding-bottom: 133px;
}

.review-input-box {
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    padding: 20px;
    margin-top: 22px;
}

.review-input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.board-write-content-box {
    width: 100%;
    display: flex;
    gap: 16px;
}

.review-textarea {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    resize: none;
    overflow: auto;
    color: #8D8D8D;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    font-family: 'Pretendard';
}

.review-button-box {
    display: flex;
    justify-content: flex-end;
}

.disable-button {
    border-radius: 46px;
    width: 95px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDD5C2;
    color: #FEFEFE;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    cursor: not-allowed;
}

.brown-button {
    border-radius: 46px;
    width: 98px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C7BA9A;
    color: #FEFEFE;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
}

.brown-button:hover {
    background-color: #C7BA9A;
}

.icon {
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.image-close {
    margin-left: 10px; 
    position: relative; 
    top: 0;
    right: 0;
}

.review-write-image-box {
    width: 100%;
    display: flex; 
    align-items: flex-start; 
    position: relative;
}

.board-write-image {
    max-width: 100%; 
    max-height: 200px; 
    height: auto; 
    object-fit: cover; 
}