#mypage-update-wrapper {
    padding: 35px 0px 133px 0px; 
}

.mypage-update-content-box-border {
    height: 505px;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
}
 
.mypage-update-content-box-in {
    padding: 87px 230px 86px 230px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mypage-update-content-text {
    font-size: 16px;
    font-weight: 600;
    color: #8F8F8F;
    flex-direction: column;
    padding-bottom: 15px;
}

.mypage-update-content-text-delete {
    padding-top: 35px;
    font-size: 16px;
    font-weight: 500;
    color: #8F8F8F;
    cursor: pointer;
}

.mypage-update-button {
  border-radius: 5px;
  padding: 18px 40px 18px 40px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  color: #545454;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.mypage-email-button-disable {
    display: flex;
    justify-content: center; /*수평 중앙정렬*/
    align-items: center; /*수직 중앙정렬*/
    border-radius: 5px;
    width: 150px;
    height: 47px;
    background-color: #F0F0F0;
    color:#545454;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.mypage-email-button-disable:hover {
    background-color: #BBB9B6;
    color: #FCFCFC;
    transition : 0.5s;
}

.mypage-email-input {
    flex: 1;
    border: none;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    padding: 14px 0px 14px 15px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #4D4D4D;
    font-family: 'pretendard';
    margin-bottom: 10px;
}

.mypage-input-button-box {
    display: flex;
    gap: 20px;
}

.mypage-email-button {
    display: flex;
    justify-content: center; /*수평 중앙정렬*/
    align-items: center; /*수직 중앙정렬*/
    border-radius: 5px;
    width: 150px;
    height: 47px;
    background-color: #BBB9B6;
    color:#FCFCFC;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}